@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: rgb(25, 25, 25);
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li button {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.slot {

  width: 75px;
  height: 25px;
  margin-top: 50px;
  /* margin-right: 10px;
  margin-left: 10px; */
  border-radius: 10px;
}

.slot.red {
  background-color: rgba(172, 0, 0, 0.432);
}

.slot.blue {
  background-color: rgba(0, 0, 172, 0.432);
}

.slot.gray {
  background-color: rgba(60, 60, 60, 0.432);
}

.bodySlot {
  background-color: lightgray;
  margin-right: 10px;
  margin-left: 400px;
  border-radius: 10px;
  position: relative;
}

.weaponSlot {
  background-color: #C23F3D;
  right: -4rem;
  top: -8rem;
  border-radius: 10px;
  position: absolute
}

.defenseSlot {
  background-color: #3DC0C2;
  left: -4rem;
  top: -8rem;
  border-radius: 10px;
  position: absolute;
}

#board {
  background-color: rgb(234, 255, 0);
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.boardContainer {
  width: 100vw;
  height: 93vh;
  display: grid;
  place-content: center;
}

.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.dark-tile {
  background-color: rgb(105, 105, 105);
}

.light-tile {
  background-color: rgb(212, 212, 212);
}

.bot {
  width: 80px;
  height: auto;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}